#search-modal {

	form {
		width: 100%;
		@include media-breakpoint-down (sm) {
			width: 85%;
		}

		@include media-breakpoint-only (md) {
			width: 90%;
		}

		@include media-breakpoint-up (lg) {
			width: 80%;
			max-width: 800px;
		}
		margin-left: auto;
		margin-right: auto;
	}


	.ct-search-input {
		input[type="search"] {
			height: 100px;
			@include action-fields((
				type: modern,
				background: false,
				padding-left: 25px,
				padding-right: 90px,
				border-color: rgba(255, 255, 255, 0.2),
			));

			font-size: 35px;
			font-weight: 500;
			color: #fff !important;
			letter-spacing: 0.03em;
			border-radius: 0;

			@include input-placeholder {
				color: #fff;
			}

			&:focus {
				background-size: 100% 100%,100% 100%;
			}
		}

		.search-submit {
			right: 25px;
			border-radius: 100%;
			color: #fff;
			background: var(--paletteColor1);

			@include media-breakpoint-up (md) {
				top: calc(50% - 28px);
				width: 56px;
				height: 56px;

				svg {
					width: 16px;
					height: 16px;
				}
			}

			@include media-breakpoint-down (sm) {
				top: calc(50% - 20px);
				width: 40px;
				height: 40px;

				svg {
					width: 12px;
					height: 12px;
				}
			}

			i {
				width: 100%;
				height: 100%;
				color: inherit;

				svg {
					transition: transform 0.2s ease;
				}

				&:hover {
					svg {
						transform: scale(1.15);
					}
				}
			}

			&:focus {
				outline: none;
			}
		}

		[data-loader] {
			--loaderSize: 80%;
			--loaderColor: #fff;
		}
	}


	// form animation
	.ct-bag-container {
		&.ct-fade-in form {
			animation-name: move-in;
		}

		&.ct-fade-out form {
			animation-name: move-out;
		}

		&.ct-animated form {
			animation-duration: 0.3s;
			animation-fill-mode: both;
		}
	}
}