#search-modal {

	a {
		color: var(--linkInitialColor);

		&:hover {
			color: var(--linkHoverColor);
		}
	}

	ul {
		display: grid;
		@include media-breakpoint-up (md) {
			grid-template-columns: repeat(2, 1fr);
		}
		grid-column-gap: 30px;
		// grid-row-gap: 25px;

		width: 100%;
		@include list-normalize;

		li {
			min-width: 0;
			margin-top: 30px;

			@include media-breakpoint-down (sm) {
				grid-column: span 2;
			}

			a {
				display: flex;
				align-items: center;
				font-size: 15px;
				line-height: 1.5;
				font-weight: 500;

				.ct-image-container {
					@include media-breakpoint-down (sm) {
						flex: 0 0 15%;
						max-width: 15%;
					}

					@include media-breakpoint-up (md) {
						flex: 0 0 20%;
						max-width: 20%;
					}

					margin-right: 5%;
					overflow: hidden;
					border-radius: 2px;
				}

				span {
					min-width: 0;
					word-wrap: break-word;
				}
			}
		}

		// show more button
		> a {
			grid-column: span 2;
			margin-top: 20px;
			font-size: 14px;
			font-weight: 400;
			text-transform: capitalize;
			text-align: center;
		}
	}
}
