/**
 * Blocksy - v1.2.9
 * 
 * Copyright (c) 2019
 * Licensed GPLv2+
 */

.wp-block{max-width:750px}[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit{width:55%}.wp-block-pullquote{text-align:initial}.wp-block-pullquote blockquote{margin:0}.wp-block-pullquote:not(.is-style-solid-color){position:relative;padding:3em 4em;border-width:5px;border-style:solid;border-color:#555d66}.wp-block-pullquote:not(.is-style-solid-color):before{position:absolute;top:0;z-index:0}.wp-block-pullquote:not(.is-style-solid-color):before{content:'”';font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;font-size:200px;line-height:150px;color:#555d66;opacity:0.15;width:80px;height:80px;top:35px;left:35px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-transform:rotate(180deg);transform:rotate(180deg)}.wp-block-pullquote:not(.is-style-solid-color)>*{position:relative;z-index:1}.wp-block-pullquote:not(.is-style-solid-color) cite{font-size:18px}
