[class*="wp-embed-aspect"] {
	.wp-block-embed__wrapper:before {
		content: '';
		display: block;
		padding-top: 50%;
	}
}


// 1:1
.wp-embed-aspect-1-1 {
	.wp-block-embed__wrapper:before {
		padding-top: 100%;
	}
}

// 1:2
.wp-embed-aspect-1-2 {
	.wp-block-embed__wrapper:before {
		padding-top: 200%;
	}
}

// 18:9
.wp-embed-aspect-18-9 {
	.wp-block-embed__wrapper:before {
		padding-top: 50%;
	}
}

// 21:9
.wp-embed-aspect-21-9 {
	.wp-block-embed__wrapper:before {
		padding-top: 42.85%;
	}
}

// 4:3
.wp-embed-aspect-4-3 {
	.wp-block-embed__wrapper:before {
		padding-top: 75%;
	}
}

// 16:9
.wp-embed-aspect-16-9 {
	.wp-block-embed__wrapper:before {
		padding-top: 56.25%;
	}
}
