.entry-content {
	p.has-drop-cap {
		&:not(:focus)::first-letter {
			font-family: Serif;
			font-size: 5.5em;
			font-weight: 700;
			// color: var(--paletteColor1);
			margin: 0.1em .12em 0.05em 0;
		}

		&:not(:focus):after {
			padding-top: 0;
		}
	}
}
