.wp-block-embed__wrapper {
	position: relative;

	iframe,
	> .jetpack-video-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		width: 100% !important;
		height: 100% !important;
	}
}
