.wp-block-file {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	border-radius: 2px;
	overflow-x: auto;
	background: rgba(233, 235, 239, 0.3);

	a:not(.wp-block-file__button) {
		font-size: 15px;
	}

	.wp-block-file__button {
		margin-top: 20px;
		margin-left: 0;
		font-size: 16px;
		@include button();
	}
}
