/*!
Version: 20.02.04
Theme Name: ColinsList
Theme URI: https://colinslist.info/
Bitbucket Theme URI: https://bitbucket.org/jonahwhale/colinslisttheme/
Author: JonahBaker
Author URI: https://worldinfoshare.com/
Description: ColinsList
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: colinslist
Template:     blocksy

*/
/* #45cae6 */
/* #4FC0D4 */
/* #52BCCE */
/* #59b5c2  */
/* #C259B5 */
/* #B5C259 */
/* #FF5733 */
/* #FFE3DD */
/* #667380 */

.wpcf7-form-control .wpcf7-submit {

}
:root {
    --radioCheckboxAccentColor:  #52BCCE;
    --backgroundColor: #52BCCE;
    --buttonHoverColor: #667380;
}
.content-area {
    padding-top: 0px !important;
}

.margin-top {
    margin-top: 10px;
}
.background-grey {
    background: #F6F6F6;
}
/* rgba(44, 62, 80, 0.9) */

.icon {
    fill: rgba(44, 62, 80, 0.9);
}

.icon:disabled {
    color: #888;
    fill: #888;
}

.background-white {
    background: #FFF;
}
.padding-bottom {
    padding-bottom: 8px;
}

.margin-left {
    margin-left: 5px;
}

.rounded {
    border-radius: 5px !important;
    border-color: #F6F6F6 !important;
    border-width: 2px !important;
    border-style: solid;
}

[data-toggle~="collapse"] {
    cursor: pointer;
}

var(--selectDropdownItemActiveColor)

h5 {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-style: 'Extra-Bold';
}

.hover:hover, .hover:focus, .hover:active, .hover.active {
    background-color: #f9f9f9;
}

.site-header {
    background-color: #4FC0D4 !important;
    padding-bottom:3px;
}

.active select {
    color: red !important;
}

.btn-secondary, .badge-orange {
    background-color: inherit;
    border-color:#FF795C;
    border-width: 2px;
    color: #FF795C;
}

.btn-search {
    background-color: #4FC0D4;
    color: #FFF;
    border: none;
}

.card {
    border: none;
    border-radius: 4px;
}

.card-search {
    /* max-width: 310px; */
    margin:19px;
}
.place-card {
    max-width:385px;
    margin: 10px;
}

.column {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}


/* desktop */
@media screen and (min-width: 800px) {
    .card-search {
        max-width:940px;
        padding-right: 0;
        margin-right: 0;
    }
    .place-card {
        min-height:180px;
    }

    .margin-top {
        margin-top: 0px;
    }

    .sg-second {
        height: 160px;
        margin-left: 30px;
    }

    .sg-third {
        height: 140px;
        margin-left: 30px;
    }
}

.site-main {
    background: #4FC0D4 !important;
    background-color: #4FC0D4;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 2px;
}

.btn-nav {
  color: #ffffff;
  background-color: #4FC0D4;
  border-color: #FCFCFC;
  border-width: 2px;
  max-width:140px;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active,
.open .dropdown-toggle.btn-nav {
  color: #ffffff;
  background-color: var(--buttonHoverColor);
  border-color: #FCFCFC;
}

.btn-nav:active,
.btn-nav.active,
.open .dropdown-toggle.btn-nav {
  background-image: none;
}

.btn-nav.disabled,
.btn-nav[disabled],
fieldset[disabled] .btn-nav,
.btn-nav.disabled:hover,
.btn-nav[disabled]:hover,
fieldset[disabled] .btn-nav:hover,
.btn-nav.disabled:focus,
.btn-nav[disabled]:focus,
fieldset[disabled] .btn-nav:focus,
.btn-nav.disabled:active,
.btn-nav[disabled]:active,
fieldset[disabled] .btn-nav:active,
.btn-nav.disabled.active,
.btn-nav[disabled].active,
fieldset[disabled] .btn-nav.active {
  background-color: #FBA23C;
  border-color: #FCFCFC;
}

.btn-nav .badge {
  color: #FBA23C;
  background-color: #ffffff;
}
/*Global*/

.btn, .btn.btn-square {
  border-radius: 2px;
}

label {
    font-size: 18px;
}

.top-padding, .padding-top {
    padding-top: 8px;
}

.type-page {
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}

.low-pad {
    padding-left: 5px;
    padding-right: 4px;
}

.btn-secondary {
    background-color: #dbdbdb;
    color: var(--flexyinitialpill);
    border-color: #667380;
}

.mobile .btn {
    height: 15px;
    display: inline;
    padding: 3px;
    margin: 3px;
}
.text-muted {
    font-size: 15px;
}


.tiny {
    font-size: 10px;
    padding-top: -10px;
    margin-top: -10px;
    line-height: .1;
}

.tip {

    /* white-space: pre; */
}
