.ct-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--buttonHeight, 35px);
	padding: 0 var(--buttonPadding, 15px);
	font-size: var(--buttonFontSize, 14px);
	font-weight: 400;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	background: #0085ba;
	text-decoration: none;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	transition: color 0.2s ease, 
				background 0.2s ease, 
				opacity 0.2s ease,
				transform 0.2s ease,
				border-color 0.2s ease,
				box-shadow 0.2s ease;

	&:hover, &:focus {
		color: #fff;
		background: #0591c9;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	}

	&:hover {
		transform: translate3d(0, -2px, 0);
	}

	&[data-button="white"] {
		color: #2e4453;
		background: #fff;
		border: 1px solid #e2e6eb;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);

		&:hover {
			// color: #fff;
			background: #fafbfc;
			// border-color: #0591c9;
			box-shadow: 0 3px 10px rgba(143, 163, 184, 0.2);
		}
	}
}