.ct-changelog-wrapper {

	> h2 {
		text-align: center;
	}

	ul {
		margin: 0;

		li {
			display: flex;
			// align-items: center;
			margin-bottom: 15px;
			// font-weight: 500;
			line-height: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 21px;
				height: 21px;
				margin-right: 12px;
				border-radius: 100%;

				&:before {
					color: #fff;
					font-size: 9px;
					font-weight: 800;
					text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
				}

				&.new {
					background: #46bf55;

					&:before {
						content: 'N';
					}
				}

				&.fix {
					background: #ffc568;

					&:before {
						content: 'F';
					}
				}

				&.improvement {
					background: #478afb;

					&:before {
						content: 'U';
					}
				}
			}
		}
	}

	// styles
	code {
		margin: 0 5px;
		border-radius: 2px;
		background: rgba(0,0,0,.03);
	}


	.changelog-info {
		display: flex;
		align-items: center;
		border-top: none;
		margin-bottom: 50px;
		font-weight: 500;

		&:not(.has-sources) {
			justify-content: center;
		}

		&.has-sources {
			justify-content: space-between;
		}

		ul {
			display: flex;

			li {
				margin-bottom: 0;
			}
		}
	}

	// explanation
	.changelog-explanation li {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	// sources
	.changelog-sources {
		li {
			cursor: pointer;

			&:first-child {
				margin-right: 15px;

				&:after {
					content: '|';
					color: #687c93;
					margin-left: 15px;
				}
			}

			&.active, &:hover {
				color: #3297d3;
			}
		}
	}

	// items
	.changelog-items {
		// max-height: 550px;
		// overflow-x: scroll;

		section {
			&:not(:last-of-type) {
				margin-bottom: 50px;
				padding-bottom: 40px;
				border-bottom: 1px solid rgba(226, 230, 235, 0.7);
			}

			&:first-of-type {
				padding-top: 40px;
				border-top: 1px solid rgba(226, 230, 235, 0.7);
			}

			> h2 {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 17px;
				margin: 0 0 20px 0;

				span {
					font-size: 13px;
					font-weight: 400;
					opacity: 0.6;
				}
			}
		}
	}
}






