#ct-dashboard > header {
	background: #f5f7f9;

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 28px;
		font-weight: 700;
		margin: 0;

		svg {
			margin-right: 10px;
			fill: currentColor;
		}
	}

	p {
		font-size: 15px;
		line-height: 1.8;
		margin-top: 10px;
		color: #687c93;
		max-width: 580px;
		margin: 25px auto 0 auto;
	}

	.ct-version {
		display: none;
		color: #fff;
		background: #72af3a;
		font-size: 10px;
		border-radius: 100px;
		padding: 2px 8px;
		position: relative;
		// top: -10px;
		margin-left: 10px;
	}
}
