@import 'header';
@import 'navigation';
@import 'welcome-screen';
@import 'system-status';
@import 'changelog';
@import 'plugins';
@import 'modal';
@import 'tooltips';
@import 'button';

.toplevel_page_ct-dashboard,
.appearance_page_ct-dashboard {
	background: #fff;

	#wpcontent {
		padding-left: 0;
	}
}

#ct-dashboard {
	font-size: 15px;
	color: #687c93;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	h1,
	h2,
	h3,
	h4 {
		color: #3e5667;
	}

	> header {
		text-align: center;
		padding-top: 60px;
		overflow: hidden;
	}

	> section {
		max-width: 950px;
		min-height: 400px;
		margin: 0 auto;
		position: relative;

		> div {
			width: 100%;
			padding-top: 60px;
			padding: 70px 30px;
		}
	}

	p {
		font-size: 15px;
		line-height: 1.6;
		margin: 0;
	}
}

.ct-loading {
	content: '';
	width: 18px;
	height: 18px;
	background: url('../img/spinner.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.ct-loading-text {
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		display: block;
		width: 17px;
		height: 17px;
		margin-right: 8px;
		opacity: 0.8;
		background: url('../img/spinner.svg');
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
