.toplevel_page_ct-dashboard,
.appearance_page_ct-dashboard {

	[data-reach-dialog-overlay] {
		background: rgba(245, 247, 249, 0.7);
	}

	[data-reach-dialog-content] {
		position: relative;
		// text-align: center;
		width: 550px;
		min-height: 300px;
		margin: 20vh auto;
		padding: 30px;
		box-sizing: border-box;
		box-shadow: 0 34px 144px rgba(92, 110, 128, 0.73);

		> div {
			font-size: 14px;
			min-height: inherit;
			box-sizing: border-box;

			h1 {
				font-size: 1.5em;
				line-height: 1.5;
				margin: 0 0 20px 0;
			}

			p {
				font-size: inherit;
				margin: 0 0 20px 0;
			}
		}

		.close-button {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 5px;
			right: 5px;
			width: 40px;
			height: 40px;
			font-size: 20px;
			color: #717a84;
			line-height: 0;
			padding: 0;
			appearance: none;
			border: none;
			cursor: pointer;
			background: transparent;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			opacity: 0.4;
			transition: opacity 0.15s ease;

			&:hover {
				opacity: 1;
			}

			&:focus {
				outline: none;
			}
		}
	}
}