.dashboard-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 60px 0 0 0;

	li {
		margin: 0;

		&:not(:last-child) {
			margin-right: 5px;
		}

		a {
			display: block;
			text-decoration: none;
			color: #687c93;
			font-size: 15px;
			font-weight: 400;
			padding: 15px 25px;
			box-shadow: none;
			outline: none;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			transition: all 0.2s ease;

			&[aria-current="page"] {
				color: #2e4453;
				background: #fff;
				box-shadow: 0 -2px 20px rgba(220, 231, 238, 0.4);
			}

			&:focus {
				box-shadow: none;
			}

			&:hover {
				&:not([aria-current="page"]) {
					background: rgba(255, 255, 255, 0.8);
					box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.01);
				}
			}
		}
	}
}
