.header-desktop[data-type="type-2"] {
	flex-direction: column;

	.branding-row {
		[class*="ct-container"] {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: var(--headerLogoContainerHeight);
		}
	}

	.navigation-row {
		background: var(--navSectionBackground);

		[class*="ct-container"] {
			display: flex;
			align-items: center;
			position: relative;
			height: var(--navSectionHeight);

			> * {
				&:not(.main-navigation) {
					position: relative;
					z-index: 20;
				}
			}

			.main-navigation {
				position: absolute;
				z-index: 10;
				left: 0;
				width: 100%;

				> ul {
					justify-content: center;
				}
			}

			.header-group {
				margin-left: auto;
			}
		}
	}
}