.site-header[data-border]:after,
.header-type-2 .navigation-row[data-border]:before {
	position: absolute;
	content: '';
	z-index: 2;
	left: 0;
	right: 0;
}

.site-header[data-border] {
	position: relative;

	&:after {
		border-bottom: var(--headerBottomBorder);
	}
}

.header-type-2 .navigation-row[data-border] {
	position: relative;

	&:before {
		transform: translateY(-100%);
		border-top: var(--headerTopBorder);
	}
}


// Border width
.site-header[data-border="full-width"]:after,
.header-type-2 .navigation-row[data-border="full-width"]:before {
	width: 100%;
}

.site-header[data-border="contained"]:after,
.header-type-2 .navigation-row[data-border="contained"]:before {
	max-width: var(--maxSiteWidth);
	margin: 0 auto;

	@include media-breakpoint-up (lg) {
		width: 90%;
	}

	@include media-breakpoint-only (md) {
		width: 85%;
	}

	@include media-breakpoint-down (sm) {
		width: 88%;
	}
}