#main-container {
	// position: relative;
	// z-index: 0;
}

[data-footer-reveal] {
	position: relative;
	height: var(--footerHeight, initial);
	overflow: hidden;
	z-index: -2;

	&:before {
		position: absolute;
		content: '';
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		background: red;
		box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.1);
	}
}

[data-footer-reveal="yes"] > .footer-inner {
	position: fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
	right: 0;
}