.ct-border-option {
	display: flex;
	align-items: center;

	> * {
		&:first-child {
			order: 2;
			margin-left: 15px;
		}
	}

	.ct-value-changer {
		input {
			max-width: 35px
		}
	}

	.ct-current-value {
		width: 45px;
	}

	.ct-disabled {
		input {
			color: rgba(85, 93, 102, 0.7);
			pointer-events: none;
		}

		+ div {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	[data-style]:before {
		content: '';
		width: 22px;
		border-bottom-width: 2px;
		border-bottom-color: currentColor;
	}

	[data-style="dotted"]:before {
		border-bottom-style: dotted;
	}

	[data-style="solid"]:before {
		border-bottom-style: solid;
	}

	[data-style="dashed"]:before {
		border-bottom-style: dashed;
	}

	[data-style="none"]:before {
		display: none;
	}
}