.ct-option-checkbox {

	label {
		display: flex;
		align-items: center;
		user-select: none;

		
		&:hover input {
			&:not(:checked) {
				border-color: #C3CACF;
			}
		}
	}

	input[type="checkbox"] {
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		margin: 0 8px 0 0;
		border-radius: 2px;
		border: 2px solid #d5dbde;
		box-sizing: border-box;
		background: transparent;
		box-shadow: none;
		transition: none;
		appearance: none;

		&:checked {
			border-color: $accent_color;
			background: $accent_color;

			&:before {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				font-size: 15px;
				color: #fff !important;
				left: -0.6px;
				margin: -2px 0 0 -2px;
				width: 16px;
				height: 16px;
			}
		}
	}


	&:not([data-inline]):not([data-columns]) {
		label {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	&[data-inline] {
		display: flex;
		flex-wrap: wrap;

		label {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}


	// columns
	&[data-columns] {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: -10px;

		label {
			width: 47%;
			margin-top: 15px;
		}
	}
}
