.ct-option-select {
	display: flex;
	position: relative;
	width: 210px;
}

// Select input
.ct-select-input {
	position: relative;
	width: 100%;

	input {
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 13px;
		color: inherit;
		width: inherit;
		height: 28px;
		margin: 0;
		padding: 0 0 0 6px;
		border: 1px solid #ddd;
		border-radius: 2px;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);

		&:focus {
			outline: none;
		}

		&::-moz-placeholder {
			line-height: 26px;
		}

		&[readonly] {
			background-color: #fff;
		}
	}

	&:before, &:after {
		position: absolute;
		content: '';
	}

	&:before {
		top: 8px;
		right: 6px;
		width: 10px;
		height: 10px;
		background: #fff;
		border-radius: 100%;
	}

	&:after {
		width: 0;
		height: 0;
		right: 8px;
		top: 12px;
		border-style: solid;
		border-width: 4px 3px 0 3px;
		border-color: currentColor transparent transparent transparent;
	}
}

// Select dropdown
.ct-select-dropdown {
	position: absolute;
	z-index: 10;
	width: 100%;
	max-height: 201px;
	top: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
	overflow-y: scroll;
	font-size: 12px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	.ct-select-no-results,
	.ct-select-dropdown-item,
	.ct-select-dropdown-group h2 {
		display: flex;
		align-items: center;
		height: 38px;
		margin: 0;
		padding: 0 8px !important;
		border-bottom: 1px solid #ddd;
		box-sizing: border-box;
	}

	.ct-select-dropdown-item {
		cursor: pointer;
		position: relative;
		overflow: hidden;

		&.active {
			background: #f7f7f7;
		}

		&.selected {
			color: #0073aa;
			font-weight: 500;

			&:after {
				position: absolute;
				content: '\f147';
				font-family: dashicons;
				font-size: 14px;
				top: 12px;
				right: 6px;
			}
		}

		&[data-id="h1"] {
			font-size: 19px;
			font-weight: 700;
		}

		&[data-id="h2"] {
			font-size: 17px;
			font-weight: 700;
		}

		&[data-id="h3"] {
			font-size: 15px;
			font-weight: 700;
		}

		&[data-id="h4"] {
			font-size: 13px;
			font-weight: 600;
		}

		&[data-id="h5"] {
			font-size: 11.5px;
			font-weight: 600;
		}

		&[data-id="h6"] {
			font-size: 10px;
			font-weight: 600;
		}

		&[data-id="p"],
		&[data-id="div"] {
			font-weight: 700;
		}
	}

	.ct-select-dropdown-group h2 {
		font-size: 12px;
		background: #f7f7f7;
	}

	.ct-select-no-results {
		border-bottom: none;
	}
}
