.ct-option-container {
	display: flex;
	padding: 15px 20px;
	border-bottom: 1px solid #e8e8e8;

	> label {
		padding-top: 2px;
		cursor: default;
		text-transform: capitalize;
	}

	&:last-child {
		border-bottom: none;
	}

	// inline
	&[data-design="inline"] {
		> label {
			flex: 1 1 auto;
		}
	}
}
