.ct-value-changer {
	display: flex;
	align-items: center;
	position: relative;
	padding: 1px;
	border-radius: 3px;
	background: #e0e0e0;
	transition: background 0.1s ease;

	input {
		flex: 1 0 auto;
		max-width: 45px;
		padding: 0;
		border-color: #e0e0e0;
		text-align: center;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			margin: 0;
			-webkit-appearance: none; 
		}

		-moz-appearance:textfield;
	}

	ul {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 2px;
		margin: 0;
		background: #fff;
		border-radius: 4px;
		box-sizing: border-box;
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
		opacity: 0;
		visibility: hidden;
		transform-origin: center top;
		transform: scale3d(0.95, 0.95, 1);
		transition: opacity 0.1s ease, 
					visibility 0.1s ease, 
					transform 0.1s ease-out;

		li {
			display: flex;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 2px;
				padding-bottom: 2px;
				border-bottom: 1px dashed #eee;
			}
			
			&:last-child {
				margin-bottom: 0;
			}

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 24px;
				font-size: 9px;
				font-weight: 600;
				text-align: center;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #555d66;
				cursor: pointer;
				border-radius: 2px;
				transition: color 0.1s ease, 
							font-weight 0.1s ease, 
							background 0.1s ease;

				&:first-child {
					width: calc(50% - 3px);
				}

				&:last-child {
					width: calc(50% - 2px);
				}

				&:hover {
					color: #272727;
					font-weight: 700;
					background: rgba(0, 0, 0, 0.04);
				}
			}
		}

		&:after {
			position: absolute;
			content: '';
			top: 3px;
			left: 0px;
			right: 0;
			margin: 0 auto;
			width: 1px;
			height: calc(100% - 6px);
			border-left: 1px dashed #eee;
		}
	}

	&.active {
		background: transparent;

		ul {
			opacity: 1;
			visibility: visible;
			transform: scale3d(1, 1, 1);
		}
	}

	&:not(.no-unit-list) {
		&:hover {
			background: #E4E4E4;
		}

		.ct-current-value {
			cursor: pointer;

			&:hover {
				color: darken($accent-color, 5%);
				font-weight: 700;
			}
		}
	}
}

.ct-current-value {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 26px;
	font-size: 9px;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: color 0.1s ease, 
				font-weight 0.1s ease;
}