.widget-inside {

	.ct-options-panel {
		margin-bottom: 20px;
	}

	.ct-options-root > .ct-control {
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
	}

	.ct-control {
		margin-top: 20px;
		padding-left: 15px;
		padding-right: 15px;

		&[data-design="inline"] {
			display: flex;
			flex-wrap: wrap;
			> header {
				flex: 0 0 45%;
				max-width: 45%
			}

			> section {
				flex: 0 0 55%;
				max-width: 55%;
				text-align: right;
			}
		}

		&[data-design="block"] {
			> header {
				&:not(:empty) {
					margin-bottom: 10px;
				}
			}
		}
	}

	.ct-color-picker-modal {
		width: 280px;
		top: 50px;
		right: 0;
		margin-left: 8px;
		margin-right: 8px;
		box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
	}

	.ct-option-description {
		margin-top: 15px;
		font-size: 12px;
		font-style: italic;
		color: rgba(85, 93, 102, 0.8);
	}

	.ct-attachment {
		.thumbnail {
			border: none;
			padding: 0;
		}

		.small-remove-button {
			display: flex;
		}
		
		.remove-button {
			display: none;
		}
	}
}

.customize-pane-child {
	.widget-inside {
		.ct-control {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}


// widget tabs
.widget-inside {
	.ct-tabs {
		margin-top: 20px;
		margin-left: -15px;
		margin-right: -15px;

		> ul {
			display: flex;
			margin-top: 0;
			margin-left: 14px;
			margin-right: 14px;
			margin-bottom: 0;
			// padding: 0 12px;

			> li {
				flex: 1 1 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				height: 40px;
				margin: 0;
				padding: 0 10px;
				cursor: pointer;
				border: 1px solid #d6d6d6;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				// background: #F1F1F1;

				&:not(:first-child) {
					// border-left: none;
					margin-left: 7px;
				}

				&.active {
					position: relative;

					&:before, &:after {
						position: absolute;
						content: '';
					}

					&:after {
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 1px;
						background: #fff;
					}
				}

				&:not(.active) {
					opacity: 0.5;

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		> .ct-current-tab {
			margin-top: -1px;
			padding: 0 15px;
			border-top: 1px solid #d6d6d6;
		}

		&:not(:last-child) {
			> .ct-current-tab {
				margin-bottom: 20px;
				// border-bottom: 1px solid #ddd;
			}
		}
	}
}