// * {  background-color: rgba(88, 86, 214, .1) }
// * { outline: solid 2px rgba(88, 86, 214, .1) }

:root {
	-moz-tab-size: 4;
	tab-size: 4;
}

html {
	box-sizing: border-box;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: var(--bodyFontSize);
	line-height: var(--bodyLineHeight);
	font-weight: 400;
	color: var(--fontColor);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	::selection {
		color: #fff;
		background: var(--paletteColor1);
	}
}


// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.5;
	margin: 0;
}

h1 { font-size: 40px }
h2 { font-size: 35px }
h3 { font-size: 30px }
h4 { font-size: 25px }
h5 { font-size: 20px }
h6 { font-size: 16px }

p {
	margin: 0;
}

a {
	color: var(--linkInitialColor);
	text-decoration: none;
	transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955),
				opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	&:hover {
		color: var(--linkHoverColor);
	}
}

figure {
	margin: 0;
	max-width: 100%;

	> a {
		display: flex;
	}
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

embed, iframe, object {
	max-width: 100%;
}


ul, ol {
	padding-left: 35px;
}

li {
	> ul, > ol {
		padding-left: 40px;
	}
}

blockquote {
	margin: 0;
}

dl {
	margin: 0;
}

mark {
	color: inherit;
	background-color: rgba(253, 226, 86, 0.6);
}

hr {
	height: 0;
}

abbr[title] {
	text-decoration: underline dotted;
}

b, strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

code, kbd, samp, pre {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

// forms
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

input[type="button"],
input[type="submit"],
button[type="submit"] {
	&:focus {
		cursor: pointer;
		outline: none;
	}
}

// fieldset
fieldset {
	padding: 15px 20px 30px 20px;
	margin: 0;
	border: 1px dashed #dce0e6;
}

legend {
	font-weight: 500;
	padding: 0;
}

progress {
	vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}

hr {
	height: 1px;
	background-color: var(--formBorderInitialColor);
	border: none;
	margin: 0 0 1.5em 0;
}