.ct-container:not([data-sidebar]) {
	.brz-root__container,
	.fl-row-full-width,
	.elementor-section-full_width {
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
}


.builder-raw-width {
	.fl-row-fixed-width,
	.brz-container__wrap {
		@include container-width(( width: fixed ));
	}

	// boxed
	.elementor-section.elementor-section-boxed {
		> .elementor-container {
			max-width: 100%;
		}
	}

	// full width
	.elementor-section.elementor-section-full_width {
		> .elementor-container {

			.elementor-inner-section.elementor-section-boxed {
				> .elementor-container {
					@include container-width(( width: fixed ));
				}
			}

		}
	}
}


// elementor column alignment fix
.ct-columns-alignment-fix {
	> .elementor-column-gap-default > .elementor-row {
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;
	}

	> .elementor-column-gap-narrow > .elementor-row {
		width: calc(100% + 10px);
		margin-left: -5px;
		margin-right: -5px;
	}

	> .elementor-column-gap-extended > .elementor-row {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
	}

	> .elementor-column-gap-wide > .elementor-row {
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}

	> .elementor-column-gap-wider > .elementor-row {
		width: calc(100% + 60px);
		margin-left: -30px;
		margin-right: -30px;
	}
}