.ct-image-container {
	> [class*='ct-ratio'] {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
	}
}

.ct-image-container {
	display: flex;
	position: relative;
	width: 100%;
	z-index: 0;
	overflow: hidden;

	picture,
	img {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
