// css variables
@import 'frontend/variables';

// utilities
@import 'frontend/utilities/main';

// header
@import 'frontend/header/main';

// footer
@import 'frontend/footer/main';

// page structure
@import 'frontend/page-structure/main';

// entries
@import 'frontend/entries/main';

// entry single
@import 'frontend/entry-single/main';

// sidebar
@import 'frontend/sidebar/main';

// widgets
@import 'frontend/widgets/main';

// elements
@import 'frontend/elements/main';

// pages
@import 'frontend/pages/main';

.ct-customizer-preview-cache {
	height: 0 !important;
	display: none !important;
}