// type 1
[data-dropdown-animation="type-1"] {
	.sub-menu {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 10px, 0);
		transition: opacity 0.2s ease,
					visibility 0.2s ease,
					transform 0.2s ease;
	}

	.menu-item-has-children,
	.page_item_has_children {
		&:hover {
			> .sub-menu {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}


// type 1
[data-dropdown-animation="type-2"] {
	.sub-menu {
		opacity: 0;
		visibility: 0;
		transition: opacity 0.2s ease,
					visibility 0.2s ease;
	}

	.menu-item-has-children,
	.page_item_has_children {
		&:hover {
			> .sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


// type 3
[data-dropdown-animation="type-3"] {
	.sub-menu {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease,
					visibility 0.2s ease;

		> li {
			opacity: 0;
			transform: translate3d(0, 5px, 0);
			transition: opacity 0.5s cubic-bezier(.35,.81,.41,1),
						transform 0.5s cubic-bezier(.35,.81,.41,1);
		}
	}

	.menu-item-has-children,
	.page_item_has_children {
		&:hover {
			> .sub-menu {
				opacity: 1;
				visibility: visible;

				> li {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}

// type 4
[data-dropdown-animation="type-4"] {
	.sub-menu {
		opacity: 0;
		visibility: hidden;
	}

	.menu-item-has-children,
	.page_item_has_children {
		&:hover {
			> .sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}