[data-menu-divider] > ul > li {
	&:not(:last-child) {
		&:after {
			color: var(--menuInitialColor);
			margin-left: var(--menuItemsSpacing);
		}
	}
}

[data-menu-divider="dash"] > ul > li {
	&:not(:last-child) {
		&:after {
			content: '/';
			font-size: 90%;
			font-weight: normal;
		}
	}
}

[data-menu-divider="dot"] > ul > li {
	&:not(:last-child) {
		&:after {
			content: '';
			width: 4px;
			height: 4px;
			opacity: 0.8;
			font-weight: normal;
			background: currentColor;
			border-radius: 100%;
		}
	}
}