/**
 * 
 */

#mobile-menu.ct-modal {

	.mobile-menu {
		font-weight: bold;
		padding: 0 25px;

		@include media-breakpoint-down (sm) {
			font-size: 23px;
		}

		@include media-breakpoint-up (md) {
			font-size: 30px;
		}
	}

	.menu-item-has-children > ul {
		font-size: 20px;
	}

	.menu-arrow {
		padding: 10px;

		svg {
			width: 13px;
			height: 13px;
		}
	}
}
