.primary-menu {

	// first level
	> li {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	// second level / sub menu
	.sub-menu {
		li {
			font-size: 12px;
			font-weight: 500;
			text-transform: initial;
			line-height: 1.6;
		}
	}
}