.woocommerce ul.product_list_widget li {
	padding: 0;
	margin-bottom: 20px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		img {
			float: left;
			width: 70px;
			margin: 0 20px 0 0;
		}

		.product-title {
			font-size: 15px;
			font-weight: 500;
		}
	}

	.star-rating {
		margin: 8px 0;
	}

	del {
		opacity: 0.8;
	}

	ins {
		font-weight: 500;
		text-decoration: none;
	}

	.woocommerce-Price-amount {
		font-size: 13px;
	}
}