.woocommerce .widget_layered_nav_filters ul {
	display: flex;
	flex-wrap: wrap;
	margin: -10px -10px 0 -10px;

	li {
		padding: 0;
		float: none;
		margin: 10px 10px 0 10px;

		a {
			&:before {
				font-size: 13px;
				opacity: 0.6;
			}
		}
	}
}

.woocommerce-widget-layered-nav {
	form select {
		height: 45px;
		opacity: 0;
	}
}