.ct-cart-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	color: var(--linkInitialColor);

	&:hover {
		color: var(--linkHoverColor);
	}

	svg {
		fill: currentColor;
	}
}