.woocommerce .woocommerce-breadcrumb {
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: inherit;

	a {
		margin: 0 3px;

		color: var(--linkInitialColor);

		&:hover {
			color: var(--linkHoverColor);
		}

		&:first-child {
			margin-left: 0;
		}
	}
}