.woocommerce-cart .woocommerce {

	table.shop_table {
		margin-bottom: 40px;

		.product-thumbnail {
			@include media-breakpoint-only (md) {
				display: none;
			}

			width: 10%;
			min-width: 60px;

			img {
				width: 100px;
			}
		}

		.product-quantity {
			@include media-breakpoint-up (md) {
				width: 1%;
				text-align: center;
			}
		}

		.product-remove {
			@include media-breakpoint-up (md) {
				width: 1%;
			}

			a.remove {
				font-size: 20px;
				color: inherit !important;
				font-weight: normal;
				opacity: 0.5;
				transition: color 0.2s ease,
							opacity 0.2s ease;

				&:hover {
					color: red !important;
					background: transparent;
					opacity: 1;
				}
			}
		}

		.product-price,
		.product-subtotal {
			@include media-breakpoint-up (md) {
				width: 1%;
				text-align: center;
			}

			@include media-breakpoint-up (lg) {
				min-width: 170px;
			}
		}

		td.product-subtotal {
			font-weight: 600;
			color: var(--paletteColor1);
		}

		.actions {
			padding: 20px;
		}
	}

	.cart-collaterals {
		h2 {
			font-size: 20px;
			margin-bottom: 20px;
		}

		> * {
			@include media-breakpoint-only (md) {
				width: 100%;
				float: none;
			}
		}

		.cross-sells {
			@include media-breakpoint-down (md) {
				margin-bottom: 50px;
			}
		}

		// cart totals
		.cart_totals {
			.shop_table td {
				text-align: right;
			}
		}

		.wc-proceed-to-checkout {
			padding: 0;

			.button {
				margin: 0;
			}
		}
	}
}