.woocommerce div.product {
	div.entry-summary {
		.product_title {
			font-size: 30px;
		}

		.woocommerce-product-rating {
			display: flex;
			align-items: center;
			margin: 5px 0 0 0;

			.star-rating {
				margin: 0 10px 0 0;
			}

			.woocommerce-review-link {
				font-size: 12px;
			}
		}

		p.price, span.price {
			display: flex;
			align-items: center;
			font-size: 20px;
			font-weight: 600;
			color: var(--fontColor);
			margin: 5px 0 28px 0;

			del {
				font-size: 75%;
			}
		}

		p.stock {
			margin-top: 2em;
		}

		// added to cart
		.single_add_to_cart_button {
			&.added:after {
				display: none;
			}
		}
		.added_to_cart {
			--buttonInitialColor: #f4f5f8;
			color: inherit;
			border: 1px solid rgba(224, 229, 235, 0.8);

			&:hover {
				color: #fff;
				border-color: var(--buttonHoverColor);
			}

			@include media-breakpoint-up (md) {
				margin-left: 15px;
			}

			@include media-breakpoint-down (sm) {
				margin-top: 30px;
				flex-grow: 1;
			}
		}
	}

	// product meta
	.product_meta {
		margin-top: 30px;
		padding-top: 30px;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border-top: 1px solid $border-color;

		> span {
			font-weight: 700;
			display: block;
			
			&:not(:last-child) {
				margin-bottom: 5px;
			}

			> * {
				opacity: 0.7;
				font-weight: 500;
			}

			> a {
				transition: color 0.1s ease,
							opacity 0.1s ease;
							
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}


.single-product div.product div.entry-summary {
	float: none;

	@include media-breakpoint-up (lg) {
		align-self: flex-start;
		position: sticky;
		top: 50px;
	}
}

