.woocommerce .woocommerce-pagination {
	margin-top: 60px;
	
	.page-numbers {
		margin: 0;
		border: none;
		font-size: 15px;

		li {
			border: none;
			margin: 0 10px;

			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				padding: 0;
				border-radius: 3px;

				&.current {
					color: #fff;
					background: var(--paletteColor1);
				}

				&:not(.current) {
					&:hover {
						color: var(--paletteColor3);
						background: #f4f5f8;
					}
				}
			}
		}
	}
}