.woocommerce div.product form.cart {
	margin-top: 50px;
	padding-top: 2em;
	border-top: 1px solid $border-color;

	// simple product
	&:not(.grouped_form):not(.variations_form) {
		display: flex;
		flex-wrap: wrap;

		.quantity {
			float: none;
		}

		.button {
			float: none;

			@include media-breakpoint-down (sm) {
				flex-grow: 1;
			}
		}
	}


	// grouped products
	.group_table {
		@include list-normalize;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.8em;
			font-size: 15px;

			.woocommerce-grouped-product-list-item__label {
				flex: 0 1 250px;
				line-height: 1.4;
			}
			
			.woocommerce-grouped-product-list-item__price {
				flex: 1 0 auto;
				font-weight: 500;
				text-align: right;
				margin-left: 30px;
				// border-left: 1px solid $border-color;

				del {
					opacity: 0.7;
				}
			}
		}
	}

	&.grouped_form {
		.button {
			min-width: 130px;
		}
	}



	// variable products
	.variations {
		display: grid;
		@include media-breakpoint-up (lg) {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}

		@include media-breakpoint-only (md) {
			grid-template-columns: repeat(2, 1fr);
		}

		grid-column-gap: 25px;
		grid-row-gap: 25px;
		position: relative;
		@include list-normalize;

		li {
			label {
				display: block;
				font-size: 15px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			.reset_variations {
				position: absolute;
				font-size: 0;
				top: -20px;
				right: 0;

				&:before {
					display: flex;
					justify-content: center;
					content: '×';
					width: 14px;
					height: 14px;
					font-size: 18px;
					line-height: 12px;
				}
			}
		}
	}

	&.variations_form {
		.single_variation_wrap {
			margin-top: 2em;

			.single_variation {
				margin-bottom: 2em;
			}
		}

		.woocommerce-variation-add-to-cart {
			display: flex;
			flex-wrap: wrap;
		}

		.quantity {
			float: none;
		}

		.woocommerce-variation-add-to-cart {
			float: none;

			.button {
				float: none;
				min-width: 143px;

				@include media-breakpoint-down (sm) {
					flex-grow: 1;
				}
			}

			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
}