.single-product {

	.woocommerce-breadcrumb {
		margin-bottom: 35px;
	}

	.product-entry-wrapper {
		@include media-breakpoint-up (lg) {
			display: flex;
		}
	}

	div.product {
		> span.onsale {
			top: initial;
			left: initial;
			margin: 20px 0 0 20px;
		}

		@include media-breakpoint-up (lg) {
			.ct-product-view {
				width: var(--productGalleryWidth);
			}

			div.summary {
				padding-left: 40px;
				width: calc( 100% - var(--productGalleryWidth) );
			}
		}

		.ct-product-view,
		div.summary {
			@include media-breakpoint-only (md) {
				width: 100%;
				float: none;
			}
		}
	}
}