.woocommerce #reviews {

	@include media-breakpoint-up (lg) {
		display: flex;
		justify-content: space-between;

		#comments,
		#review_form_wrapper {
			width: 48%;
		}

		> .clear {
			display: none;
		}
	}

	@include media-breakpoint-down (md) {
		#comments {
			margin-bottom: 40px;
		}
	}
}