.woocommerce {
	table.shop_attributes {
		border-style: solid;
		border-color: $border-color;
		margin-bottom: 0;

		th, td {
			padding: 10px 15px;
			border-bottom-style: solid;
			border-bottom-color: inherit;
		}

		th {
			font-weight: 500;
			text-align: initial;
			width: 200px;
		}

		td {
			font-style: normal;

			p {
				padding: 0;
			}
		}

		tr {
			&:nth-child(even) {
				th, td {
					background: rgba(242, 244, 247, 0.5);
				}
			}
		}
	}
}