.woocommerce #reviews #comments {
	h2 {
		font-size: 20px;
		margin-bottom: 30px;
	}

	ol.commentlist {
		padding: 0;
		border-top: 1px solid $border-color;

		li {
			margin-bottom: 0;

			&:not(:last-child) {
				.comment_container {
					padding-bottom: 40px;
					border-bottom: 1px solid $border-color;
				}
			}

			.comment_container {
				padding-top: 40px;
				padding-left: 0;				
				padding-right: 0;
			}

			img.avatar {
				top: initial;
				width: 45px;
				height: 45px;
				border: none;
				padding: 0;
				background: transparent;
				border-radius: 100%;
			}

			.comment-text {
				margin: 0;
				padding: 0 0 0 70px;
				border: none;

				p.meta {
					display: flex;
					align-items: center;
					// font-size: initial;
					color: inherit;
					line-height: 20px;

					strong {
						// font-size: em;
					}

					span {
						display: inline-block;
						text-indent: -99999px;
						margin: 0 10px;

						&:before {
							font-size: 10px;
							float: left;
							content: '/';
							text-indent: 1px !important;
						}
					}

					time {
						font-size: 11px;
						font-weight: 500;
						text-transform: uppercase;
						// color: rgba(44, 62, 80, 0.6);
					}
				}

				.description > * {
					margin: 20px 0 0 0;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}