.woocommerce span.onsale {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	font-size: 10px;
	font-weight: 500;
	line-height: 0;
	text-transform: uppercase;
	padding: 0 10px;
	height: 25px;
	min-height: initial;
	border-radius: 4px;
	color: var(--saleBadgeTextColor);
	background-color: var(--saleBadgeBackgroundColor);
}