.woocommerce [data-layout="grid"] {

	.shop-entry-card {
		display: flex;
		flex-direction: column;
		background: #fff;
		border-radius: 2px;
		overflow: hidden;
		text-align: center;
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.01);

		&:hover {
			.star-rating {
				opacity: 1;
			}
		}
	}

	span.onsale {
		top: 0;
		left: initial;
		right: 0;
		margin: 18px 18px 0 0;
	}

	.star-rating {
		position: absolute;
		top: 25px;
		left: 20px;
		opacity: 0;
		transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}

	.woocommerce-loop-product__title {
		flex: 1 0 auto;
		// font-size: 17px;
		font-weight: 500;
		margin-top: 25px;
	}

	.product-categories {
		justify-content: center;
		margin: 5px 0 0 0;
	}

	.woo-card-actions {
		display: flex;
		margin-top: 25px;
		border-top: 1px solid #eff1f5;

		.price, a.button, a.added_to_cart {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 50%;
			min-height: 55px;
			font-size: 14px;
			font-weight: 500;
			padding: 5px;
			background: transparent;

			&:hover {
				background: transparent;
			}
		}

		.price {
			position: relative;
			color: var(--fontColor);
			
			&:after {
				position: absolute;
				content: '';
				right: 0;
				width: 1px;
				height: 30px;
				top: calc(50% - 15px);
				background: #eff1f5;
			}
		}

		a.button {
			color: var(--linkInitialColor);

			&:hover {
				color: var(--linkHoverColor);
			}

			&.loading {
				padding-right: 5px;
			}
		}
	}
}