.woocommerce {
	&:not([data-sidebar]) {
		[data-layout="shop-simple"] {
			@include media-breakpoint-up (lg) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

.woocommerce [data-layout="shop-simple"] {
	display: grid;
	grid-column-gap: 35px;
	grid-row-gap: 35px;

	.shop-entry-card {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}


	.shop-entry-card {
		background: var(--cardBackground);
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.01);

		&:hover {
			.woo-card-actions {
				opacity: 1;
			}
		}
	}

	.card-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 35px;
	}

	span.onsale {
		margin: 20px 0 0 20px;
	}

	.star-rating {
		margin-bottom: 10px;
	}

	.woocommerce-loop-product__title {
		// font-size: 23px;
		margin-bottom: 5px;
	}

	.product-categories {
		margin-bottom: 10px;
	}

	.entry-excerpt {
		margin-bottom: 20px;
	}

	.price {
		font-size: 16px;
		font-weight: 600;
		padding-top: 20px;
		border-top: 1px solid $border-color;
	}

	.woo-card-actions {
		display: flex;
		position: absolute;
		left: 0;
		bottom: 30px;
		width: 100%;
		padding: 0 20px;
		opacity: 0;
		transition: opacity 0.2s ease;

		a.button, a.added_to_cart {
			font-size: 14px;
			font-weight: 500;

			@include button((
				display: inline-flex,
				height: 40px,
				padding: 18px,
				bg_1: var(--wooButtonInitialColor),
				bg_2: var(--wooButtonHoverColor),
				// shadow: false,
				// translate: false,
			));
		}
	}
}