.woocommerce {

	.star-rating {
		font-size: 0.8em;
		width: 5.7em;
		// color: #ffd05f;
		color: var(--starRatingColor);

		&:before {
			opacity: 0.3;
			content: '\53\53\53\53\53';
		}

		&:before,
		span:before {
			letter-spacing: 0.1em;
			color: currentColor;
		}
	}

	.comment-form-rating {
		display: flex;
		align-items: center;

		label {
			font-size: 11px;
			font-weight: 500;
			text-transform: uppercase;
		}

		.stars {
			// color: #FDA256;
			color: var(--starRatingColor);
			font-size: 0.8em;
			margin: 0 0 0 10px !important;

			span {
				display: flex;

				a {
					color: currentColor;

					&:not(:last-child) {
						margin-right: 2px;
					}
				}
			}
		}
	}
}