.woocommerce-store-notice {
	background-color: var(--paletteColor1) !important;

	a.woocommerce-store-notice__dismiss-link {
		position: absolute;
		top: calc(50% - 10px);
		right: 30px;
		width: 20px;
		height: 20px;
		display: inline-block;
		text-indent: -99999px;
		line-height: 20px;
		overflow: hidden;
		opacity: 0.8;
		transition: opacity 0.2s ease-out,
					transform 0.2s ease-out;

		&:before, &:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-indent: 0px;
			width: 20px;
			height: 2px;
			background: #fff;
			border-radius: inherit;
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate3d(0, 0, 1, 45deg);
		}

		&:after {
			transform: rotate3d(0, 0, 1, -45deg);
		}

		&:hover {
			opacity: 1;
			transform: rotate(90deg);
		}
	}
}