.woocommerce {
	.price,
	.woocommerce-grouped-product-list-item__price {
		ins {
			text-decoration: none;
		}

		del {
			margin-right: 5px;
		}

		> span {
			&:not(:only-child) {
				margin-left: 5px;

				&:first-child {
					margin-left: 0;
					margin-right: 5px;
				}
			}
		}
	}

	form {
		.form-row {
			padding: 0;
			margin-bottom: 20px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}

		#ship-to-different-address {
			font-size: 15px;
			font-weight: 600;

			.woocommerce-form__label {
				display: inline-flex !important;
				align-items: center;

				input[type="checkbox"] {
					margin-right: 8px;
				}
			}
		}
	}
}