div.notice-blocksy-plugin {
	min-height: 300px;
	padding: 50px;
	margin: 15px 0 35px 0 !important;
	box-sizing: border-box;
	background-image: url('../images/init.svg');
	background-repeat: no-repeat;
	position: relative;

	@media only screen and (max-width: 960px) {
		background-size: 70%;
		background-position: 100% 10px;
	}

	@media only screen and (min-width: 961px) {
		// background-size: 45%;
	}

	@media only screen and (min-width: 961px) and (max-width: 1170px) {
		background-size: 60%;
		background-position: 97% 15px;
	}

	@media only screen and (min-width: 1171px) and (max-width: 1500px) {
		background-size: 44%;
		background-position: 97% 15px;
	}

	@media only screen and (min-width: 1501px) {
		// background-size: 30%;
		background-position: 97% 15px;
	}

	h1 {
		font-size: 30px;
		font-weight: 500;
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px !important;
	}

	p {
		max-width: 50%;
		color: #72777c;
		line-height: 1.6;

		&.about-description {
			font-size: 16px;
			color: #575b5f;
			// margin-bottom: 20px;
		}

		b {
			color: #63676b;
		}
	}

	.notice-actions {
		margin-top: 25px;

		.button {
			display: inline-flex;
			align-items: center;
			height: 45px;
			padding-left: 25px;
			padding-right: 25px;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		.button-primary {
			font-size: 14px;
			font-weight: 500;
		}

		i {
			margin-right: 5px;
			animation: spin 1.5s infinite linear;
		}
	}

	.notice-dismiss {
		position: absolute;
		top: 0;
		right: 1px;
		border: none;
		margin: 0;
		padding: 9px;
		background: 0 0;
		color: #72777c;
		cursor: pointer;
	}
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}