@import 'taxonomy-ui';
@import 'tabs';
@import 'options';
@import 'activation-notice';

.edit-post-layout__metaboxes:not(:empty) {
	padding: 0;

	.edit-post-meta-boxes-area {
		margin: 0;
	}
}

.edit-post-meta-boxes-area #poststuff {
	h2.hndle {
		padding: 20px 25px;
	}

	button.handlediv {
		margin-top: 8px;
		margin-right: 8px;
	}
}

#blocksy_settings_meta_box {
	box-shadow: none;

	> .inside {
		margin: 0;
		padding: 0;
	}

	.ct-options-panel {
		// padding: 10px 0;
	}
}

.ct-meta-box-container {
	.ct-control {
		flex-wrap: wrap;
		position: relative;
		padding: 25px 25px;
		
		&:not(:last-child) {
			border-bottom: 1px solid rgba(226, 228, 231, 0.5);
		}

		> header {
			label {
				font-weight: 500;
				text-transform: capitalize;
			}

			.ct-revert {
				top: 3px;
				width: 16px;
				height: 16px;
				font-size: 9px;
			}
		}

		// inline options
		&[data-design="inline"] {
			display: flex;

			> header {
				position: relative;
				width: 250px;
			}

			> section {
				flex: 1;
			}
		}

		.ct-option-description {
			flex: 0 0 100%;
			max-width: calc(100% - 250px);
			margin-top: 10px;
			font-size: 12px;
			font-style: italic;
			padding-left: 250px;
			color: rgba(85, 93, 102, 0.8);
		}
	}


	// do not remove
	// hide input while initializing js
	> input {
		display: none;
	}
}