.entry-meta {
	display: flex;
	align-items: center;
	// font-size: 12px;
	font-size: var(--metaFontSize);
	font-weight: 600;
	text-transform: uppercase;
	// color: rgba(44, 62, 80, 1);

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		min-width: 0;

		li {
			&:not(:last-child) {
				margin-right: 10px;

				&:after {
					content: '/';
					font-size: 90%;
					margin-left: 10px;
				}
			}
		}
	}

	&:not([data-label]) {
		.ct-meta-label {
			display: none;
		}
	}
}

.avatar-container {
	display: flex;
	margin-right: 10px;

	img {
		height: 100%;
		width: 100%;
		border-radius: 100%;
	}
}


.ct-meta-categories {
	word-wrap: break-word;
	min-width: 0;

	&[data-type="simple"] {
		.ct-meta-element {
			&:not(:last-child) {
				a:after {
					content: ',';
				}
			}
		}
	}

	// type pill
	&[data-type="pill"] {
		display: flex;
		flex-wrap: wrap;

		> * {
			&:not(:last-child) {
				margin-right: 7px;
			}
		}

		.ct-meta-label {
			display: flex;
			align-items: center;
		}

		.ct-meta-element {
			a {
				font-size: 11px;

				@include button((
					height: 25px,
					padding: 8px,
					bg_1: var(--paletteColor1),
					bg_2: var(--paletteColor2),
					shadow: false,
					translate: false,
				));
			}
		}
	}

	// type underline
	&[data-type="underline"] {
		> * {
			&:not(:last-child) {
				margin-right: 8px;
			}
		}

		.ct-meta-element {
			&:not(:last-child) {
				&:after {
					content: '/';
					font-size: 90%;
					margin-left: 8px;
				}
			}

			a {
				position: relative;
				font-size: 11px;

				&:before {
					position: absolute;
					content: '';
					left: 0;
					bottom: -5px;
					width: 100%;
					height: 1px;
					opacity: 0.5;
					background: currentColor;
					transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955),
								transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
				}

				&:hover {
					&:before {
						opacity: 1;
						// transform: translate3d(0, -1px, 0);
					}
				}
			}
		}
	}
}


// icons type
.entry-meta[data-type="icons"] {
	
	> ul > li {
		display: flex;
		align-items: center;
	}

	.ct-meta-icon {
		display: flex;
		margin-right: 7px;

		svg {
			fill: currentColor;
		}
	}

	// has avatar
	&.has-avatar .ct-meta-author {
		.ct-meta-icon {
			display: none;
		}
	}
}






