.wp-block {
	max-width: 750px;
}


// pull quote
[data-type="core/pullquote"] {
	&[data-align="left"],
	&[data-align="right"] {
		.editor-block-list__block-edit {
			width: 55%;
		}
	}
}

.wp-block-pullquote {
	text-align: initial;

	blockquote {
		margin: 0;
	}

	&:not(.is-style-solid-color) {
		position: relative;
		padding: 3em 4em;
		border-width: 5px;
		border-style: solid;
		border-color: #555d66;

		&:before {
			position: absolute;
			top: 0;
			z-index: 0;
		}

		&:before {
			content: '”';
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 200px;
			line-height: 150px;
			color: #555d66;
			opacity: 0.15;
			width: 80px;
			height: 80px;
			top: 35px;
			left: 35px;
			display: flex;
			justify-content: center;
			transform: rotate(180deg);
		}

		> * {
			position: relative;
			z-index: 1;
		}

		cite {
			font-size: 18px;
		}
	}
}
