.entry-content {
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	.alignleft {
		@include media-breakpoint-up (md) {
			float: left;
			margin: 0.5em 30px 0.5em 0;
		}
	}

	.alignright {
		@include media-breakpoint-up (md) {
			float: right;
			margin: 0.5em 0 0.5em 30px;
		}
	}

	@include media-breakpoint-down (sm) {
		.alignleft, .alignright {
			float: none;
			max-width: 100%;
			margin: 0 auto 1.65em auto !important;
		}
	}
}



@include media-breakpoint-up (lg) {

	// Narrow layout
	[data-page-structure="narrow"] {
		.alignwide {
			width: calc(100% + var(--wideOffset) * 2 );
			max-width: 100vw;
			margin-left: calc( var(--wideOffset) * -1 );
			margin-right: calc( var(--wideOffset) * -1 );
		}
	}

	// Normal layout
	[data-page-structure="normal"] {
		.alignwide {
			width: calc( 50vw + 50% );
			max-width: 100vw;
			margin-left: calc( (-50vw + 50%) * 0.5 );
			margin-right: calc( (-50vw + 50%) * 0.5 );
		}
	}
}



.ct-container:not([data-sidebar]) {
	.entry-content {
		.alignfull {
			width: 100vw;
			max-width: 100vw;
			margin-left: calc( -50vw + 50% );
			margin-right: calc( -50vw + 50% );
		}
	}

	@include media-breakpoint-up (lg) {
		[data-page-structure="narrow"] {
			.alignleft {
				margin-left: calc( var(--wideOffset) * -1 );
			}

			.alignright {
				margin-right: calc( var(--wideOffset) * -1 );
			}
		}

		// [data-page-structure="normal"] {
		// 	.alignleft {
		// 		margin-left: calc( (-50vw + 50%) * 0.5 )
		// 	}

		// 	.alignright {
		// 		margin-right: calc( (-50vw + 50%) * 0.5 );
		// 	}
		// }
	}
}
