.ct-comments {
	padding-bottom: 100px;

	@include media-breakpoint-up (lg) {
		width: 60%;
		margin: 0 auto;
	}

	ol, ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		&:not(.pingback) {
			@include media-breakpoint-up (md) {
				.ct-comment-content,
				.ct-comment-info section {
					padding-left: 70px;
				}
			}
		}
	}
}

.ct-related-posts {
	+ .ct-comments-container .ct-comments {
		@include media-breakpoint-down (sm) {
			padding-top: 40px;
		}

		@include media-breakpoint-up (md) {
			padding-top: 80px;
		}
	}
}

.ct-comments-title {
	font-size: 30px;
	line-height: normal;
	margin: 0 0 50px 0;
}

.ct-comment-list {
	.children {
		@include media-breakpoint-down (sm) {
			padding-left: 35px;
		}

		@include media-breakpoint-up (md) {
			padding-left: 70px;
		}
	}

	.comment-respond {
		padding-bottom: 50px;

		@include media-breakpoint-up (md) {
			padding-left: 70px;
		}
	}
}


// comment
.ct-comment-inner {
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid rgba(215, 222, 229, 0.5);

	&:not(.ct-has-reply-form) {
		&:hover .comment-reply-link {
			color: #fff;
			// background: $primary;
			background: var(--buttonInitialColor);
		}

		.comment-reply-link {
			&:hover {
				background: var(--buttonHoverColor);
			}
		}
	}
}

.ct-comment-info {
	display: flex;
	position: relative;
	margin-bottom: 20px;

	@include media-breakpoint-down (sm) {
		align-items: center;
	}

	figure {
		@include media-breakpoint-down (sm) {
			flex: 0 0 45px;
			max-width: 45px;
			margin-right: 20px;
		}

		@include media-breakpoint-up (md) {
			display: flex;
			flex: 0 0 50px;
			max-width: 50px;
			position: absolute;
			top: 0;
			left: 0;
		}

		img {
			width: 100%;
			border-radius: 100%;
		}
	}

	section {
		display: flex;
		width: 100%;

		@include media-breakpoint-down (sm) {
			flex-direction: column;
		}

		@include media-breakpoint-up (md) {
			align-items: center;
			justify-content: space-between;
			align-self: flex-start;
		}
	}
}

.ct-comment-author {
	font-weight: bold;
	max-width: 60%;
}

.ct-comment-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(44, 62, 80, 0.6);

	> *:first-child {
		margin-right: 20px;
	}
}

.comment-edit-link {
	margin-right: 10px;
}

.comment-reply-link {
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 10px;
	border-radius: 3px;
	transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955),
				background 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	.ct-has-reply-form & {
		opacity: 0.5;
		user-select: none;
		pointer-events: none;
	}
}

.ct-comment-content {
	line-height: 1.65;

	> * {
		margin-top: 25px;

		&:first-child {
			margin-top: 0;
		}
	}
}


// reply title
.comment-reply-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 30px;
}

.ct-cancel-reply a {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;

	@include button((
		height: 25px,
		padding: 10px,
		shadow: false,
		translate: false
	));
}


// respond form
.comment-respond {
	&:not(:only-child) {
		.comment-reply-title {
			padding-top: 50px;
			border-top: 1px solid rgba(215, 222, 229, 0.5);
		}
	}
}

// .ct-respond-form {
// 	padding: 30px;
// 	box-shadow: 0px 50px 90px 0px rgba(210, 213, 218, 0.4);
// }

.ct-respond-form-inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -10px;
	margin-right: -10px;

	> * {
		flex: 1 1 33.333%;
		min-width: 150px;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 30px;
	}
}

.ct-respond-form-inputs > *,
.ct-respond-form-textarea {
	position: relative;

	label {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 10px;
		height: 45px;
		cursor: text;
		padding-left: 17px;
		font-size: 15px;
		color: rgba(44, 62, 80, 0.5);
		opacity: 1;
		visibility: visible;
		transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
					transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
					visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
}

.ct-respond-form-textarea {
	margin-bottom: 30px;

	label {
		top: 2px;
		left: 0;
	}
}

.ct-respond-form {
	.required {
		color: #CC0000;
		margin-left: 3px;
	}

	input[type="text"], textarea {
		&:focus {
			+ label {
				opacity: 0;
				visibility: hidden;
				transform: translate3d( 20px, 0, 0 );
			}
		}

		&.ct-not-empty {
			+ label {
				opacity: 0;
				visibility: hidden;
				transform: translateX(20px);
			}
		}
	}

	.form-submit {
		margin: 0;

		button {
			@include button();
		}
	}
}

// no comments
.no-comments {
	padding: 15px 20px;
	text-align: center;
	background: rgba(233, 235, 239, 0.5);
	border-radius: 2px;
}
