$spacing: 1.5em;

.entry-content {

	> * {
		margin-bottom: $spacing;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		margin-bottom: $spacing;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: calc(10px + 1.2em);
		margin-bottom: calc(10px + 0.2em);

		// + h1, + h2, + h3, + h4, + h5, + h6 {
		// 	margin-top: 20px;
		// }

		+ * {
			margin-top: calc(10px + 0.2em);
		}

		&:first-child {
			margin-top: 0;
		}
	}

	ul, ol {
		margin-top: $spacing;

		&:first-child {
			margin-top: 0;
		}
	}

	li {
		margin-bottom: 0.5em;

		> ul, > ol {
			margin-top: 0.7em;
			margin-bottom: 0.7em;
		}
	}

	.wp-block-gallery {
		margin-top: calc(40px + 0.25vw);
		margin-bottom: calc(40px - 16px + 0.25vw);
	}

	.alignwide, .alignfull {
		margin-top: calc(40px + 0.25vw);
		margin-bottom: calc(40px + 0.25vw);
	}

	// clear fix for image alignment
	> p {
		&:last-child {
			&:after {
				content: '';
				clear: both;
				display: block;
			}
		}
	}
}
