.post-password-form {

	> p:last-child {
		display: flex;

		label {
			font-size: 0;
			width: 40%;
			margin-right: 10px;
		}

		input[type="submit"] {
			@include button((
				// height: 30px,
				// padding: 15px,
				// shadow: false,
				translate: false,
			));
		}

		@include media-breakpoint-down (sm) {
			label {
				flex: 1 1 auto;
			}
		}
	}
}
